{% extends "base_template.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <script src="/static/home/home.js"></script>
{% endblock %}
{% block body %}
    <button type="button" class="btn btn-primary" onclick="location.href='addedit_bot'"><i class="fas fa-robot"></i> Add new bot</button>
    <input type="text" id="question">
    <button type="button" class="btn btn-primary" onclick="get_response()"><i class="fas fa-robot"></i> Get response</button>
    <button type="button" class="btn btn-primary" onclick="build_docker()"><i class="fas fa-robot"></i> Build docker</button>
{% endblock %}